<!DOCTYPE html>
<html class="page" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ligand App</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon.png') }}">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
        <!-- <link rel="preload" href="fonts/oswaldregular.woff2" as="font" crossorigin="anonymous">
        <link rel="preload" href="fonts/oswaldmedium.woff2" as="font" crossorigin="anonymous"> -->
    </head>
    <body class="page__body">
        <header class="header">
            <div class="header-wrapper">
                <nav class="header-nav">
                    <a class="header-logo" href="#">
                        <img src="/static/images/logo.svg" width="70" height="38">
                        <p>LIGandApp</p>
                    </a>
                    <ul class="">
                        <li class="">Git</li>
                        <li class="">Gmail</li>
                    </ul>
                </nav>
            </div>
        </header>
        <!--Информация о проекте -->
        <main class="main-index">
            <div class="main-container">

                <section class="about-us">
                    <div class="wrapper">
                        <div class="about-us-text">
                            <h2 class="about-us-title">LIGandApp</h2>
                            <p class="about-us-description">Данный веб-сервис позволяет рассчитать процесс релиза лигандов из циклодекстринов, а также рассчитать энергию их взаимодействия на разных стадиях релиза</p>
                            <div class="about-us-buttons">
                                <a class="about-us-button" href="#instructons">Инструкция</a>
                                <a class="about-us-button" href="#calc-block">Рассчеты</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="instructions" id="instructions">
                    <div class="wrapper">
                        <div class="instructions-content">
                            <h2 class="instructions-title">Инструкция</h2>
                            <!-- <p class="instructions-description">Наш проект блаблаблаблабла</p> -->
                            <ol>
                                <li>Загружаемый PDB-файл должен содержать циклодекстрин и лиганд с отличными друг от друга id</li>
                                <li>Укажите количество структур, которое вы хотите получить в результате рассчета (каждая структура отстает на один ангстрем)</li>
                                <li>Укажите минимальный дозволительный отступ циклодекстрина от лиганда</li>
                                <li>Загрузите ваш PDB-файл и нажмите кнопку submit</li>
                                <li>Дождитесь окончания рассчета</li>
                                <li>По окнчанию рассчета вы получите уникальный id</li>
                                <li>Вставьте id в окно "Введите лиганд-id" и нажмите кнопку submit</li>
                                <li>Архив с результатом ваших рассчетов будет загружен к Вам на устройство</li>
                            </ol>
                        </div>
                    </div>
                    
                </section>

                <section class="calc-block" id="calc-block">
                    <div class="wrapper">
                        <h2 class="calc-block-title"> Расчетный блок</h2>
                        <form ref="form" v-model="valid" enctype="multipart/form-data" lazy-validation action="/calc-ligand" method="POST">
                            <fieldset class="form__field-group">
                                <div class="form__field-wrapper">
                                    <p class="form__field">
                                        <input class="form__field-input form__field-input--important" type="number" id="model-num" name="model-num" placeholder="20" min="0"
                                        required>
                                      <label class="form__label" for="cat-name">Укажите количество моделей</label>
                                    </p>
                                    <p class="form__field">
                                        <input class="form__field-input form__field-input--important" type="number" step="0.01" id="distance" name="distance" placeholder="1.75"
                                        required>
                                      <label class="form__label" for="cat-weight">укажите дозволительный отступ циклодекстрина от лиганда</label>
                                    </p>
                                    <div class="form__field-buttons">
                                        <input class="form__field-input form__button form__field-input--important" id="file" ref="file" type="file" name="file" accept=".pdb">
                                        <input class="form__label form__button" type="submit" ></input>
                                    </div>
                            </fieldset>
                        </form>
                        <h3 class="calc-block-title"> Скачайте свои расчеты</h2>
                    <form ref="form" v-model="valid" enctype="multipart/form-data" lazy-validation action="/find-your-ligand" method="POST">
                        <fieldset class="form__field-group">
                            <div class="form__field-wrapper">
                                <p class="form__field">
                                    <input class="form__field-input form__field-input--important" type="text" id="ligand-id" name="ligand-id" placeholder="Введите id"
                                    required>
                                  <label class="form__label" for="cat-name">Введите ligand-id, которое вы должны были сохранить в конце расчета</label>
                                </p>
                                <input class="form__label form__button" type="submit" ></input>
                        </fieldset>
                    </form>
                    </div>
                    
                </section>

                <!-- <section class="calc-block-answer">
                    <h2 class="calc-block-title"> Скачайте свои расчеты</h2>
                    <form ref="form" v-model="valid" enctype="multipart/form-data" lazy-validation action="/find-your-ligand" method="POST">
                        <fieldset class="form__field-group">
                            <div class="form__field-wrapper">
                                <p class="form__field">
                                    <input class="form__field-input form__field-input--important" type="text" id="ligand-id" name="ligand-id" placeholder="Введите id"
                                    required>
                                  <label class="form__label" for="cat-name">Введите ligand-id, которое вы должны были сохранить при старте расчета</label>
                                </p>
                                <input class="form__label form__button" type="submit" ></input>
                        </fieldset>
                    </form>
                </section> -->
            </div>
        </main>
        <footer class="footer">
            <div class="footer-wrapper">
                <ul class="contacts-list">
                    <li class="contacts-item">
                        <a class="contacts-link"></a>
                    </li>
                    <li class="contacts-item">
                        <a class="contacts-link"></a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>