/* Global */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ralewayregular.woff2") format("woff2"), url("../fonts/ralewayregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ralewaymedium.woff2") format("woff2"), url("../fonts/ralewaymedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ralewaybold.woff2") format("woff2"), url("../fonts/ralewaybold.woff") format("woff");
  font-display: swap;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;
}

/*buttons*/

.button {
  background-color: #756157;
  display: inline-block;
  font-family: inherit;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.header-logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  p {
    color: #615048;
    font-size:40px;
    line-height: 52px;
  }
}

.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
}

.header-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-name {
  font-size:40px;
  line-height: 52px;
}

.main-index {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  background-color: #f4f0f0;
  min-height: 100vh;
}

.about-us {
  position: relative;
  background-color: rgb(236 242 244);
  background-image: linear-gradient(#ffffff 5%, rgb(234 239 243) 95%);

  p {
    font-size: 20px;
    line-height: 36px;
    width: 450px;
  }
  
  h2 { 
    margin: 0;
    font-size: 42px;
    line-height: 54px;
    width: 300px;
    padding-bottom: 20px;
  }
}
.about-us .wrapper {

  padding: 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.about-us::after {
  position: absolute;
  content: "";
  width: 850px;
  height: 500px;
  background-image:
    url("/static/images/CDX_LIGAND.png");
  top: -67px;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 40px;

  p {
    max-width: 450px;
    word-wrap: break-word;
    padding-bottom: 30px;
  }
}


.about-us-buttons {
  display:flex;
  justify-content: space-between;
  max-width: 300px;
  margin-left: -15px;
}

.about-us-button {
  display: block;
  text-decoration: inherit;
  color: rgb(85 87 90);
  font-size: 20px;
  font-size: 20px;
  line-height: 36px;
  padding: 15px;
  font-weight: 600;
}

p {
  font-size: 20px;
  line-height: 36px;
  width: 450px;
  color: rgb(141 145 147);
}

h2 { 
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  width: 300px;
  padding-bottom: 20px;
  color: rgb(112 120 59);
}

.instructions {
  background-color: rgb(255 255 251);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;

  p {
    font-size: 20px;
    line-height: 36px;
    width: 450px;
    color: rgb(165 162 154);
    padding-bottom: 20px;
  }
  
  h2 { 
    margin: 0;
    font-size: 42px;
    line-height: 54px;
    width: 300px;
    padding-bottom: 20px;
    color: rgb(85 87 90);
  }

  ol {
    color: rgb(157 162 119);
    text-decoration: none;
    list-style: none;
    counter-reset: item;
    padding: 0;
    margin: 0;
    align-self: center;
    text-align: left;
  }

  li {
    display: block;
    padding-bottom: 20px;
  }

  li:before {
    content: counter(item) "  "; 
    counter-increment: item;
  }
}

.instructions .wrapper {
  padding: 20px;
}
.instructions-content {
  margin-left: auto;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    width: 500px;
    text-align: left; */
    align-items: flex-end;
    width: 500px;
    text-align: right;
    margin-right: 40px

}


.calc-block {
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  text-align: center;
  background-color: rgb(234 239 243);
  

  p {
    font-size: 20px;
    line-height: 36px;
    /* width: 450px; */
    margin-bottom: 20px;
  }

  h2 { 
    margin: 0;
    font-size: 42px;
    line-height: 54px;
    width: 300px;
    padding-bottom: 20px;
  }

  
  h3 {
    margin: 0;
    font-size: 36px;
    line-height: 42px;
    width: 300px;
    padding-bottom: 20px;
    color: rgb(85 87 90);
  }
}

.form__field-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__field {
  display: flex;
  align-items: center;
  margin: 0;
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 16px;
}

.form__field-input {

  /* font-family: ;
  font-size: ;
  line-height: ; */
  text-transform: uppercase;
  /* color: ; */
  padding: 13px 25px 14px 12px;
  border: 1px solid gray;
  appearance: textfield;
  box-sizing: border-box;

  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    appearance: none;
  }

  ::placeholder {
    /* font-family:;
    line-height: ; */
    text-transform: uppercase;
    /* color: ; */
    font-size: 16px;
    opacity: 0.5;
  }


  :hover {
    border: 1px solid gold;
  }

  :focus {
    border: 1px solid grey;
    outline: 1px solid grey;
  }
}

.form__field-buttons {
  display: flex;
  flex-direction: column;

  input {
    background-color: #e6e1e5;
  }

  button {
    margin-top: 30px;
    margin-left: 0;
    padding: 10px;
    background-color: #CEAD6D;
  }
}

[type="number"] {
  appearance: textfield;

  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    appearance: none;
  }
}